[submodule "css-3"]
	path = css-3
	url = git@github.com:abuabdirohman4/css-3.git
	branch = master
[submodule "css-layouting"]
	path = css-layouting
	url = git@github.com:abuabdirohman4/css-layouting.git
	branch = master
[submodule "css-bootstrap"]
	path = css-bootstrap
	url = git@github.com:abuabdirohman4/css-bootstrap.git
	branch = main
[submodule "css-flexbox"]
	path = css-flexbox
	url = git@github.com:abuabdirohman4/css-flexbox.git
	branch = main